* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  margin-top: 40px;
  display: flex;
  margin-bottom: 48px;
}

.header-text {
  margin: 100px 80px 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-img {
  width: 440px;
}

.heading-special {
  margin-bottom: 48px;
}

.special {
  margin-bottom: 48px;
}

.special-columns {
  display: flex;
  gap: 80px;
  margin-bottom: 58px;
}

.special-columns h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
}

.customers {
  display: flex;
}

.chatting {
  width: 267px;
  display: block;
}

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px 0 30px 60px;
  gap: 15px;
  
}

q {
  font-size: 24px;
  font-weight: bold;
}

blockquote {
  font-style: italic;
}

.heading-bestsellers {
  margin-bottom: 48px;
}

.bestsellers h3 {
  margin-bottom: 24px;
}

.bestsellers img {
  margin-bottom: 24px;
  width: 267px;
}

.bestsellers-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.laidback,
.worker,
.chair {
  width: 267px;
}

span {
  display: block;
  margin-bottom: 24px;
}

.buy {
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: bold;
  /* font-size: 16px; */
}

footer {
  margin-bottom: 48px;
}